---

import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to DevCollab." transition:persist>
    <Header></Header>
	<div>
        <h1>Este es el Blog Beta bro :3  </h1>
    </div>
</Layout>
<style is:global>
	html{
		scroll-behavior: smooth;
	}
</style>