<section class="container mx-auto p-3 pb-80">
    <div>
        <div class="flex justify-center flex-col items-center">
            <h1 class="text-5xl font-bold mb-4">Everything you need to start a website</h1>
            <p class="text-lg text-gray-700">Astro comes batteries included. It takes the best parts of state-of-the-art tools and adds its own innovations.</p>
        </div>
        <div>
            <div class="rounded-xl bg-gray-800 text-white p-5 w-max flex flex-col">
                <img src="" alt="" class="w-1/2">
                <h1 class="w-1/2">Calidad de cursos</h1>
                <p class="w-1/2">En EDteam tenemos la mejor metodología en español. Todos nuestros cursos pasan por un riguroso proceso de evauación.</p>
            </div>
        </div>
    </div>
</section>