---
import Card from "./Card.astro";

---

<section class="dark:bg-gray-900">
    <div class="container mx-auto p-3 pb-80">
        <div class="flex justify-center flex-col items-center">
            <h1 class="text-5xl font-bold mb-4 dark:text-gray-200">Everything you need to start a website</h1>
            <p class="text-lg text-gray-700 mb-10 dark:text-gray-400">Astro comes batteries included. It takes the best parts of state-of-the-art tools and adds its own innovations.</p>
        </div>
        <div class="flex gap-10 justify-center items-center">
            <Card title="Calidad de cursos" imagen="https://edteam-media.s3.amazonaws.com/web/modules/group-plan/features-increment.svg" descripcion="En EDteam tenemos la mejor metodología en español. Todos nuestros cursos pasan por un riguroso proceso de evauación."></Card>
            <Card title="Calidad de cursos" imagen="https://edteam-media.s3.amazonaws.com/web/modules/group-plan/features-increment.svg" descripcion="En EDteam tenemos la mejor metodología en español. Todos nuestros cursos pasan por un riguroso proceso de evauación."></Card>
            <Card title="Calidad de cursos" imagen="https://edteam-media.s3.amazonaws.com/web/modules/group-plan/features-increment.svg" descripcion="En EDteam tenemos la mejor metodología en español. Todos nuestros cursos pasan por un riguroso proceso de evauación."></Card>
        </div>
    </div>
</section>