<section class="dark:bg-gray-900 pb-20">
    <div class="container mx-auto flex justify-between border-b-gray-500 border-b-2 pb-10">
        <div class="flex items-center w-1/5">
            <img width="70px" src="assets/logodarkmode.webp" alt="logo">
            <p class="text-2xl font-bold ml-2 text-gray-800 dark:text-gray-200">DevCollab</p>
        </div>
        <div class="flex w-1/4 flex-col">
            <h1 class="text-lg text-gray-700 mb-3 dark:text-gray-200">Acerca de la empresa</h1>
            <div class="flex flex-col gap-2  w-max dark:text-gray-400">
                <a href="#">Home</a>
                <a href="#">Nosotros</a>
                <a href="#">Certificados</a>
            </div>
        </div>
        <div class="flex w-1/4 flex-col">
            <h1 class="text-lg text-gray-700 mb-3 dark:text-gray-200">Acerca de la empresa</h1>
            <div class="flex flex-col gap-2 w-max dark:text-gray-400">
                <a href="#">Home</a>
                <a href="#">Nosotros</a>
                <a href="#">Certificados</a>
            </div>
        </div>
        <div class="flex w-1/4 flex-col">
            <h1 class="text-lg text-gray-700 mb-3 dark:text-gray-200">Acerca de la empresa</h1>
            <div class="flex flex-col gap-2  w-max dark:text-gray-400">
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
                <a href="#">Home</a>
            </div>
        </div>
    </div>
</section>