<div class="bg-white max-w-full text-lg container mx-auto p-5 flex justify-between items-center gap-5 max-lg:gap-3 text-gray-700">
    <div>
        <a href="#" class="font-semibold"><span class="text-violet-700 font-bold">Dev</span>Collab</a>
    </div>
    <div class="flex gap-x-10 max-lg:gap-5 max-md:hidden">
        <a href="#">Features</a>
        <a href="#">Princing</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Pro version</a>
    </div>
    <div class="flex gap-5 items-center max-md:hidden">
        <a href="#">Log in</a>
        <a href="#" class="px-5 py-3 bg-black text-white rounded-lg">Sign up</a>
    </div>

    <!-- Boton abrir mobile -->
    <div class="max-md:flex gap-5 items-center hidden">
        <button onclick="OpenMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
            </svg>
        </button>
    </div>

    
    <!-- Menu Mobile -->

</div>