<section class="pt-32 pb-20 dark:bg-gray-900" id="home">
    <div class="flex container mx-auto items-center gap-20 max-md:flex max-md:flex-col">
        <div class="w-1/2 max-md:w-full max-sm:px-3 max-md:px-5 lg:p-5 xl:p-10 2xl:p-12">
                <div >
                    <h1 class="headline max-sm:text-4xl text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter dark:text-white">
                        Colaboración entre programadores
                    </h1>
                    <p class="headline2 max-sm:text-base text-lg mt-5 max-sm:mt-8 text-slate-600 max-w-xl dark:text-slate-300">
                        DevCollab es una plataforma de colaboraciones entre desarrolladores Web , Desktop , Mobile, enfocado en brindar un espacio de aprendizaje en TI, con el fin de poder ganar experiencia en el ámbito profesional.</p>
                    <div class="flex gap-6 mt-6 headline3">
                        <button class="w-52 max-sm:h-16 rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black dark:bg-violet-900 dark:hover:bg-violet-950 text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center">
                            <svg class="flex items-center animate-pulse w-6 h-6 mr-2" fill="#ffffff" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M2.67 10.73a3.52 3.52 0 0 0-.94 1.93 5 5 0 0 0-.07 1.1v.58h.8a5.05 5.05 0 0 0 .88-.08 3.46 3.46 0 0 0 1.93-.94 1.76 1.76 0 0 0-.14-2.48 1.76 1.76 0 0 0-2.46-.11zm1.74 1.73a2.26 2.26 0 0 1-1.26.6h-.22v-.22a2.26 2.26 0 0 1 .6-1.26.36.36 0 0 1 .24-.08.67.67 0 0 1 .47.22.54.54 0 0 1 .17.74zM14.65 2.24a.91.91 0 0 0-.89-.89A8.75 8.75 0 0 0 7.27 3.5L5.64 5.4l-2.4-.5a1 1 0 0 0-.92.27l-.68.68a1 1 0 0 0-.28.81 1 1 0 0 0 .45.74l2.06 1.32.13.08 3.2 3.25.08.08 1.32 2.06a1 1 0 0 0 .74.45h.11a1 1 0 0 0 .7-.29l.68-.68a1 1 0 0 0 .27-.92l-.5-2.39 1.84-1.58a8.79 8.79 0 0 0 2.21-6.54zM3.11 6.15l1.32.28-.64.75-1-.67zm6.38 7.1-.67-1 .75-.64.28 1.32zm2.39-5.11.18.17zm-.28-.28L7.92 11 5 8.08 8.14 4.4a7.44 7.44 0 0 1 5.26-1.8 7.48 7.48 0 0 1-1.8 5.26z"></path><path d="M11.13 6.63a1.19 1.19 0 0 0-.06-1.7 1.16 1.16 0 1 0-1.64 1.63 1.2 1.2 0 0 0 1.7.07z"></path></g></svg>
                            Inicia Ahora!
                        </button>
                        <button class="rounded max-sm:h-16 text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white text-black hover:bg-gray-100 border-2 border-black flex gap-1 items-center justify-center">
                            <svg class="w-6 h-6 mr-1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="info-circle"> <g> <circle cx="12" cy="12" data-name="--Circle" fill="none" id="_--Circle" r="10" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="12" y2="16"></line> <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="8" y2="8"></line> </g> </g> </g> </g></svg>                            Mas información
                        </button>
                    </div>
                </div>
        </div>
        <div class="w-1/2 max-sm:hidden">
            <img width="500px" class="hidden dark:block floating-element" src="assets/logodarkmode.webp" alt="">
            <img width="500px" class="dark:hidden block floating-element" src="assets/devwebp.webp" alt="">
        </div>  
    </div>
</section>
<style>
    .floating-element {
        animation: floatAnimation 2s ease-in-out infinite;
    }
        @keyframes floatAnimation {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            filter: brightness(150%);
        }
        }
</style>