---
import SolutionBox from "./SolutionBox.astro";

---

<section class="pt-20 dark:bg-gray-900">
    <div class="container mx-auto p-10">
        <h1 class="text-4xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold flex justify-center dark:text-white">Descubre nuestras soluciones</h1>
        <div class="flex gap-x-8 gap-y-0 flex-wrap justify-center">
            <SolutionBox image="assets/React-icon.svg" title="Desarollador Frontend" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
            <SolutionBox image="assets/node-js-svgrepo-com.svg" title="Desarollador Backend" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
            <SolutionBox image="assets/internet-svgrepo-com.svg" title="Desarollador FullStack" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
            <SolutionBox image="assets/java-svgrepo-com.svg" title="Desarollador de escritorio" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
            <SolutionBox image="assets/flutter-svgrepo-com.svg" title="Desarollador Mobile" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
        </div>
    </div>
</section>
