---
,,import SolutionBox from "./SolutionBox.astro";

---

<section class="pt-32 pb-60 dark:bg-gray-900">
    <div class="container mx-auto p-10">
        <h1 class="text-4xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold flex justify-center dark:text-white">Descubre nuestras soluciones</h1>
        <div class="flex gap-10">
            <SolutionBox image="https://edteam-media.s3.amazonaws.com/web/modules/group" title="Analista de datos" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
            <SolutionBox image="https://edteam-media.s3.amazonaws.com/web/modules/group-plan/features-increment.svg" title="Analista de datos" descripcion="Almacene, categorice y analice de manera segura todos sus datos en un unico repositorio" ></SolutionBox>
        </div>
    </div>
</section>
