---
import SolutionBox from "./SolutionBox.astro";

---

<section class="pt-20 dark:bg-gray-900" id='soluciones'>
    <div class="container mx-auto p-10">
        <h1 class="max-sm:text-3xl text-4xl lg:text-4xl xl:text-5xl 2xl:text-6xl font-bold flex justify-center dark:text-white">Descubre nuestras soluciones</h1>
        <div class="flex gap-x-8 gap-y-0 flex-wrap justify-center max-sm:gap-x-4">
            <SolutionBox image="assets/React-icon.svg" title="Desarollador Frontend" descripcion="Consigue conocimiento y experiencia en tecnologías de frontend como React, Angular, Vue.js, Svelte, Astro, Tailwind, Bootstrap, etc. " ></SolutionBox>
            <SolutionBox image="assets/node-js-svgrepo-com.svg" title="Desarollador Backend" descripcion="Consigue conocimiento y experiencia en tecnologías de backend como Express.js, JavaScript, Django, Python, Node.js, Typescript, Laravel, etc. " ></SolutionBox>
            <SolutionBox image="assets/internet-svgrepo-com.svg" title="Desarollador FullStack" descripcion="Consigue conocimiento y experiencia tanto en Fronted como en Backend con las tecnologias que tú quieras!." ></SolutionBox>
            <SolutionBox image="assets/java-svgrepo-com.svg" title="Desarollador de escritorio" descripcion="Consigue conocimiento y experiencia en tecnologías de escritorio como C#, .NET , C, C++, Python, etc. " ></SolutionBox>
            <SolutionBox image="assets/flutter-svgrepo-com.svg" title="Desarollador Mobile" descripcion="Consigue conocimiento y experiencia en tecnologías de mobile como Android, IOS , Flutter, Dart, Kotlin, Swift." ></SolutionBox>
        </div>
    </div>
</section>
